workflows/sofia-inbound.json
{
  "name": "Sofia - Inbound WhatsApp (Evolution API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sofia-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-evolution",
      "name": "Webhook - Evolution Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sofia-inbound"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Parse Evolution API inbound message\n// Filters: own messages, groups, unsupported types\n// ============================================\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst messages = body.data?.messages || body.messages || [];\nconst message = messages[0] || body.data || body;\n\nconst key = message.key || {};\nconst remoteJid = key.remoteJid || message.remoteJid || '';\nconst fromMe = key.fromMe || false;\nconst wamid = key.id || message.id || '';\nconst pushName = message.pushName || '';\nconst instanceName = body.instance || body.instanceName || '';\n\nif (fromMe) return [{ json: { ignore: true, reason: 'from_me' } }];\nif (remoteJid.includes('@g.us')) return [{ json: { ignore: true, reason: 'group_message' } }];\nif (remoteJid === 'status@broadcast') return [{ json: { ignore: true, reason: 'status_broadcast' } }];\n\nconst msgContent = message.message || {};\nlet messageContent = '';\nlet messageType = 'unsupported';\n\nif (msgContent.conversation) {\n  messageContent = msgContent.conversation;\n  messageType = 'text';\n} else if (msgContent.extendedTextMessage?.text) {\n  messageContent = msgContent.extendedTextMessage.text;\n  messageType = 'text';\n} else if (msgContent.imageMessage?.caption) {\n  messageContent = msgContent.imageMessage.caption;\n  messageType = 'image';\n} else if (msgContent.audioMessage) {\n  messageContent = '[Áudio]';\n  messageType = 'audio';\n} else if (msgContent.documentMessage?.caption) {\n  messageContent = msgContent.documentMessage.caption;\n  messageType = 'document';\n}\n\nif (!messageContent) return [{ json: { ignore: true, reason: 'no_text_content', messageType } }];\n\nreturn [{\n  json: {\n    ignore: false,\n    remoteJid,\n    pushName,\n    wamid,\n    messageContent,\n    messageType,\n    instanceName,\n    phone: remoteJid.split('@')[0]\n  }\n}];"
      },
      "id": "parse-evolution-payload",
      "name": "Parse Evolution Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-valid-msg",
              "leftValue": "={{ $json.ignore }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid-message",
      "name": "Filtrar Mensagem Válida",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.sf_customers (phone, push_name, clinic_id)\nVALUES ('{{ $('Parse Evolution Payload').first().json.phone }}', '{{ $('Parse Evolution Payload').first().json.pushName }}', '{{ $json.clinic_id }}')\nON CONFLICT (phone, clinic_id) DO UPDATE SET push_name = EXCLUDED.push_name, updated_at = NOW()",
        "options": {}
      },
      "id": "upsert-customer",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 300],
      "credentials": { "postgres": { "id": "postgres-account", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT icm.clinic_id, COALESCE((SELECT json_agg(TO_CHAR(a.scheduled_at, 'YYYY-MM-DD HH24:MI') ORDER BY a.scheduled_at) FROM public.sf_appointments a WHERE a.clinic_id = icm.clinic_id AND a.status NOT IN ('cancelled', 'no_show') AND a.scheduled_at >= NOW() AND a.scheduled_at <= NOW() + INTERVAL '7 days'), '[]'::json) AS booked_slots FROM public.sf_instance_clinic_map icm WHERE icm.instance_name = '{{ $('Parse Evolution Payload').first().json.instanceName }}' LIMIT 1",
        "options": {}
      },
      "id": "buscar-config-clinica",
      "name": "Buscar Config Clínica",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 480],
      "credentials": { "postgres": { "id": "postgres-account", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Generate available slots: next 3 business days, 9-17h\n// Filters already-booked slots from Buscar Config Clínica\n\nconst msgData = $('Parse Evolution Payload').first().json;\nconst clinicData = $('Buscar Config Clínica').first().json;\n\nconst clinicId = clinicData?.clinic_id || null;\nconst bookedSlots = new Set(clinicData?.booked_slots || []);\n\nconst slots = [];\nlet daysAdded = 0;\nlet checkDate = new Date();\ncheckDate.setDate(checkDate.getDate() + 1);\n\nwhile (daysAdded < 3) {\n  const dow = checkDate.getDay();\n  if (dow !== 0 && dow !== 6) {\n    for (let h = 9; h <= 17; h++) {\n      const slot = new Date(checkDate);\n      slot.setHours(h, 0, 0, 0);\n      const y = slot.getFullYear();\n      const m = String(slot.getMonth() + 1).padStart(2, '0');\n      const d = String(slot.getDate()).padStart(2, '0');\n      const hh = String(slot.getHours()).padStart(2, '0');\n      const slotStr = `${y}-${m}-${d} ${hh}:00`;\n      if (!bookedSlots.has(slotStr)) slots.push(slotStr);\n    }\n    daysAdded++;\n  }\n  checkDate.setDate(checkDate.getDate() + 1);\n}\n\nreturn [{ json: { ...msgData, clinicId, availableSlots: slots.slice(0, 3) } }];"
      },
      "id": "gerar-slots",
      "name": "Buscar Slots Disponíveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-reset",
              "leftValue": "={{ $json.messageContent.trim() }}",
              "rightValue": "reset",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e-comando-reset",
      "name": "É Comando Reset?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM public.sf_sessions WHERE session_id = '{{ $json.remoteJid }}:{{ $json.clinicId }}'",
        "options": {}
      },
      "id": "limpar-sessao",
      "name": "Limpar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1360, 480],
      "credentials": { "postgres": { "id": "postgres-account", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM public.sf_customers WHERE phone = '{{ $('É Comando Reset?').first().json.phone }}' AND clinic_id = '{{ $json.clinicId }}'",
        "options": {}
      },
      "id": "limpar-conversas",
      "name": "Limpar Customer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1580, 480],
      "credentials": { "postgres": { "id": "postgres-account", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM public.sf_appointments WHERE remote_jid = '{{ $('É Comando Reset?').first().json.remoteJid }}' AND clinic_id = '{{ $('É Comando Reset?').first().json.clinicId }}'",
        "options": {}
      },
      "id": "limpar-appointments",
      "name": "Limpar Appointments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1800, 480],
      "credentials": { "postgres": { "id": "postgres-account", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sofia.easyscale.co/v1/sofia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{ $env.SOFIA_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  instance_id: $json.instanceName,\n  clinic_id: $json.clinicId || 'unknown',\n  remote_jid: $json.remoteJid,\n  push_name: $json.pushName,\n  message: $json.messageContent,\n  message_type: $json.messageType,\n  wamid: $json.wamid,\n  available_slots: $json.availableSlots || [],\n  conversation_type: 'first_contact'\n}) }}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "fullResponse": true, "responseFormat": "json" } }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000
      },
      "id": "chamar-sofia-api",
      "name": "Chamar Sofia API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Parse Sofia API v2 response\n// Flattens agent_runs into individual messages\n// Each message becomes one item in the flow\n// ============================================\n\nconst response = $input.first().json;\nconst body = response.body || response;\n\nconst agentRuns = body.agent_runs || [];\nconst requiresHuman = body.requires_human === true;\nconst conversationStage = body.conversation_stage || 'active';\nconst traceId = body.trace_id || '';\nconst language = body.language || 'pt-BR';\nconst sessionId = body.session_id || '';\n\n// Flatten all messages from all agent_runs preserving order\nconst allMessages = [];\nfor (const run of agentRuns) {\n  for (const msg of (run.messages || [])) {\n    if (msg.content) {\n      allMessages.push({\n        messageType: msg.type || 'text',\n        messageContent: msg.content,\n        agentName: run.agent || 'Sofia',\n        runData: run.data || null,\n      });\n    }\n  }\n}\n\n// No messages — return empty item so flow can still check requires_human\nif (allMessages.length === 0) {\n  return [{ json: { messageType: 'text', messageContent: '', agentName: 'Sofia', runData: null, requiresHuman, conversationStage, traceId, language, sessionId, skip: true } }];\n}\n\n// Return one item per message, each carrying the shared metadata\nreturn allMessages.map(msg => ({\n  json: { ...msg, requiresHuman, conversationStage, traceId, language, sessionId, skip: false }\n}));"
      },
      "id": "parse-sofia-response-v2",
      "name": "Parse Sofia Response v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-should-send",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-should-send",
      "name": "Verificar should_send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "cond-text",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "cond-audio",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audio",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-tipo-mensagem",
      "name": "Switch - Tipo Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2020, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Parse Evolution Payload').first().json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number: $('Parse Evolution Payload').first().json.remoteJid,\n  text: $json.messageContent\n}) }}",
        "options": { "timeout": 15000 },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000
      },
      "id": "enviar-texto",
      "name": "Enviar Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-requires-human",
              "leftValue": "={{ $json.requiresHuman }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-requires-human",
      "name": "Verificar requires_human",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 420]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.sf_active_chats SET is_paused = true, paused_reason = 'human_escalation' WHERE remote_jid = '{{ $('Parse Evolution Payload').first().json.remoteJid }}'",
        "options": {}
      },
      "id": "pausar-sofia",
      "name": "Pausar Sofia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2020, 420],
      "credentials": { "postgres": { "id": "postgres-account", "name": "Postgres account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', processed: true, trace_id: $json.traceId, agents: $json.agentName, language: $json.language }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ok",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', processed: false, reason: $json.reason || 'ignored' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-ignorada",
      "name": "Respond - Ignorada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', processed: false, reason: 'reset' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-reset-ok",
      "name": "Respond - Reset OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2020, 560]
    }
  ],
  "connections": {
    "Webhook - Evolution Inbound": {
      "main": [[{ "node": "Parse Evolution Payload", "type": "main", "index": 0 }]]
    },
    "Parse Evolution Payload": {
      "main": [[{ "node": "Filtrar Mensagem Válida", "type": "main", "index": 0 }]]
    },
    "Filtrar Mensagem Válida": {
      "main": [
        [{ "node": "Buscar Config Clínica", "type": "main", "index": 0 }],
        [{ "node": "Respond - Ignorada", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Config Clínica": {
      "main": [[{ "node": "Upsert Customer", "type": "main", "index": 0 }]]
    },
    "Upsert Customer": {
      "main": [[{ "node": "Buscar Slots Disponíveis", "type": "main", "index": 0 }]]
    },
    "Buscar Slots Disponíveis": {
      "main": [[{ "node": "É Comando Reset?", "type": "main", "index": 0 }]]
    },
    "É Comando Reset?": {
      "main": [
        [{ "node": "Limpar Sessão", "type": "main", "index": 0 }],
        [{ "node": "Chamar Sofia API", "type": "main", "index": 0 }]
      ]
    },
    "Limpar Sessão": {
      "main": [[{ "node": "Limpar Customer", "type": "main", "index": 0 }]]
    },
    "Limpar Customer": {
      "main": [[{ "node": "Limpar Appointments", "type": "main", "index": 0 }]]
    },
    "Limpar Appointments": {
      "main": [[{ "node": "Respond - Reset OK", "type": "main", "index": 0 }]]
    },
    "Chamar Sofia API": {
      "main": [[{ "node": "Parse Sofia Response v2", "type": "main", "index": 0 }]]
    },
    "Parse Sofia Response v2": {
      "main": [[
        { "node": "Verificar should_send", "type": "main", "index": 0 },
        { "node": "Verificar requires_human", "type": "main", "index": 0 }
      ]]
    },
    "Verificar should_send": {
      "main": [
        [{ "node": "Switch - Tipo Mensagem", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Switch - Tipo Mensagem": {
      "main": [
        [{ "node": "Enviar Texto", "type": "main", "index": 0 }],
        [],
        []
      ]
    },
    "Enviar Texto": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Verificar requires_human": {
      "main": [
        [{ "node": "Pausar Sofia", "type": "main", "index": 0 }],
        []
      ]
    },
    "Pausar Sofia": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "executionTimeout": 180,
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    { "name": "Sofia", "id": "10" },
    { "name": "WhatsApp", "id": "11" }
  ]
}
